#navbar {
    background-color: #18537a;
}
.navbar-nav {
    height: 12vh;
    position: relative;
    left: 71%;
    top: 10%;
}
.nav-link {
    position: relative;
    top: 22%;
    color: #fff;
    font-size: 1.5rem;
}
.nav-link:hover {
    color: #86c1e8;

}

#search-container {
    text-align: center;

}
#search {
    width: 70%;
    position: relative;
    left: 15%;
    margin-bottom: 12vh;
    box-shadow: 2px 4px 10px gray;

}
#events-container {
    text-align: center;
    

}
#event-create-container {
    font-size: 1.3rem;
    background-color: #4096cfc5;
    color: #fff;
    width: 50vw;
    height: auto;
    box-shadow: 6px 10px 45px #417aa0;
    border-radius: 20px;

}
#text-sub {
    color: #25aae1;
    font-size: 1.8rem;
}
.img-criacao {
    border: 2px solid#fff;
    box-shadow: 4px 6px 10px rgb(0, 0, 0);
    margin: 10px 0 10px 0;
    height: 25%;
    width: 25%;
}

.btn-criar{
    position: relative;
    left: 32%;
 
}

.img-fluid {
    margin-top: 2rem;
    height: 80%;
    border: 3px solid  white;
    box-shadow: 4px 6px 20px rgb(0, 0, 0);

}
#info-container {
    margin-top: 3.2rem;
}
footer {
    background-color: #18537a;
    height: 15vh;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    
}
.c-footer {
    width: 97vw;
    display: flex;
    justify-content: space-between;
}
.c-footer h2{
    text-decoration: underline;
}
footer p {
    text-align: center;
}

@media (max-width:400px) {
       
}